.Main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  & .Main-about {
    margin-top: 20px;
    img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
    }

    & .Main-about-title {
      margin-top: 30px;

      h3 {
        padding-bottom: 10px;
      }

      h4 {
        padding-bottom: 30px;
      }

      button {
        width: 100%;
        height: 36px;
        border: 1px solid rgba(27, 31, 35, 0.2);
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        border-radius: 3px;
        cursor: pointer;
      }
    }

    & .Main-about-dsc {
      margin-top: 16px;
    }
  }

  & .Main-projects {
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
    & .Main-projects-links {
      display: flex;
      justify-content: space-around;

      a {
        color: #586069;
      }
    }

    .Section {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 14px;
        color: #586069;
      }
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    & .Main-procets-bar {
      margin-top: 20px;
      margin-left: 10px;
      padding: 10px;
      border: 1px solid #000;
      width: 450px;
      height: 85px;

      position: relative;
      & .up {
        display: flex;

        .right {
          svg {
            position: absolute;
            right: 10px;
          }
        }
      }
      .down {
        margin-top: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        span {
          background-color: #563d7c;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          display: inline-block;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
