.Header {
  background-color: $header-bg;

  display: flex;
  align-items: center;
  padding: 10px;

  & .logo {
    margin-right: 16px;
    svg {
      width: 32px;
      height: 32px;
      color: #fff;
      margin-left: 16px;
    }
  }

  & .search {
    position: relative;
    input {
      background-color: hsla(0, 0%, 100%, 0.125);
      width: 300px;
      height: 30px;
      padding: 10px;
      font-size: 12px;
      color: #fff;
      border: none;
      outline: none;
      margin-right: 16px;
      border-radius: 3px;
    }

    svg {
      position: absolute;
      right: 33px;
      top: 17px;
      color: #fff;
    }
  }

  .links {
    a {
      color: #fff;
      margin-right: 16px;
      font-family: $my-font;
      font-size: 15px;
    }
  }

  .rightLinks {
    margin-left: auto;
    svg {
      color: #ccc;
      margin-left: 5px;
    }
  }
}
